<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>dollar</string>
          <string>percent</string>
          <string>ampersand</string>
          <string>plus</string>
          <string>less</string>
          <string>equal</string>
          <string>greater</string>
          <string>at</string>
          <string>asciicircum</string>
          <string>bar</string>
          <string>asciitilde</string>
          <string>cent</string>
          <string>sterling</string>
          <string>yen</string>
          <string>section</string>
          <string>copyright</string>
          <string>registered</string>
          <string>degree</string>
          <string>paragraph</string>
          <string>multiply</string>
          <string>divide</string>
          <string>Euro</string>
          <string>trademark</string>
          <string>minus</string>
          <string>space</string>
          <string>nbspace</string>
          <string>.notdef</string>
          <string>periodcentered.loclCAT</string>
          <string>periodcentered.loclCAT.case</string>
          <string>exclam</string>
          <string>quotedbl</string>
          <string>numbersign</string>
          <string>quotesingle</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>asterisk</string>
          <string>comma</string>
          <string>hyphen</string>
          <string>period</string>
          <string>slash</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>question</string>
          <string>bracketleft</string>
          <string>backslash</string>
          <string>bracketright</string>
          <string>underscore</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>exclamdown</string>
          <string>guillemetleft</string>
          <string>periodcentered</string>
          <string>guillemetright</string>
          <string>questiondown</string>
          <string>endash</string>
          <string>emdash</string>
          <string>quoteleft</string>
          <string>quoteright</string>
          <string>quotesinglbase</string>
          <string>quotedblleft</string>
          <string>quotedblright</string>
          <string>quotedblbase</string>
          <string>bullet</string>
          <string>ellipsis</string>
          <string>guilsinglleft</string>
          <string>guilsinglright</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>grave</string>
          <string>dieresis</string>
          <string>macron</string>
          <string>acute</string>
          <string>cedilla</string>
          <string>circumflex</string>
          <string>caron</string>
          <string>breve</string>
          <string>dotaccent</string>
          <string>ring</string>
          <string>ogonek</string>
          <string>tilde</string>
          <string>hungarumlaut</string>
          <string>gravecomb</string>
          <string>acutecomb</string>
          <string>circumflexcomb</string>
          <string>tildecomb</string>
          <string>macroncomb</string>
          <string>brevecomb</string>
          <string>dotaccentcomb</string>
          <string>dieresiscomb</string>
          <string>ringcomb</string>
          <string>hungarumlautcomb</string>
          <string>caroncomb</string>
          <string>commaaccentcomb</string>
          <string>cedillacomb</string>
          <string>ogonekcomb</string>
          <string>caroncomb.alt</string>
          <string>A</string>
          <string>B</string>
          <string>C</string>
          <string>D</string>
          <string>E</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>M</string>
          <string>N</string>
          <string>O</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>T</string>
          <string>U</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Z</string>
          <string>a</string>
          <string>b</string>
          <string>c</string>
          <string>d</string>
          <string>e</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>j</string>
          <string>k</string>
          <string>l</string>
          <string>m</string>
          <string>n</string>
          <string>o</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>t</string>
          <string>u</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>z</string>
          <string>ordfeminine</string>
          <string>ordmasculine</string>
          <string>Agrave</string>
          <string>Aacute</string>
          <string>Acircumflex</string>
          <string>Atilde</string>
          <string>Adieresis</string>
          <string>Aring</string>
          <string>AE</string>
          <string>Ccedilla</string>
          <string>Egrave</string>
          <string>Eacute</string>
          <string>Ecircumflex</string>
          <string>Edieresis</string>
          <string>Igrave</string>
          <string>Iacute</string>
          <string>Icircumflex</string>
          <string>Idieresis</string>
          <string>Eth</string>
          <string>Ntilde</string>
          <string>Ograve</string>
          <string>Oacute</string>
          <string>Ocircumflex</string>
          <string>Otilde</string>
          <string>Odieresis</string>
          <string>Oslash</string>
          <string>Ugrave</string>
          <string>Uacute</string>
          <string>Ucircumflex</string>
          <string>Udieresis</string>
          <string>Yacute</string>
          <string>Thorn</string>
          <string>germandbls</string>
          <string>agrave</string>
          <string>aacute</string>
          <string>acircumflex</string>
          <string>atilde</string>
          <string>adieresis</string>
          <string>aring</string>
          <string>ae</string>
          <string>ccedilla</string>
          <string>egrave</string>
          <string>eacute</string>
          <string>ecircumflex</string>
          <string>edieresis</string>
          <string>igrave</string>
          <string>iacute</string>
          <string>icircumflex</string>
          <string>idieresis</string>
          <string>eth</string>
          <string>ntilde</string>
          <string>ograve</string>
          <string>oacute</string>
          <string>ocircumflex</string>
          <string>otilde</string>
          <string>odieresis</string>
          <string>oslash</string>
          <string>ugrave</string>
          <string>uacute</string>
          <string>ucircumflex</string>
          <string>udieresis</string>
          <string>yacute</string>
          <string>thorn</string>
          <string>ydieresis</string>
          <string>Amacron</string>
          <string>amacron</string>
          <string>Abreve</string>
          <string>abreve</string>
          <string>Aogonek</string>
          <string>aogonek</string>
          <string>Cacute</string>
          <string>cacute</string>
          <string>Cdotaccent</string>
          <string>cdotaccent</string>
          <string>Ccaron</string>
          <string>ccaron</string>
          <string>Dcaron</string>
          <string>dcaron</string>
          <string>Dcroat</string>
          <string>dcroat</string>
          <string>Emacron</string>
          <string>emacron</string>
          <string>Edotaccent</string>
          <string>edotaccent</string>
          <string>Eogonek</string>
          <string>eogonek</string>
          <string>Ecaron</string>
          <string>ecaron</string>
          <string>Gbreve</string>
          <string>gbreve</string>
          <string>Gdotaccent</string>
          <string>gdotaccent</string>
          <string>Gcommaaccent</string>
          <string>gcommaaccent</string>
          <string>Hbar</string>
          <string>hbar</string>
          <string>Imacron</string>
          <string>imacron</string>
          <string>Iogonek</string>
          <string>iogonek</string>
          <string>Idotaccent</string>
          <string>dotlessi</string>
          <string>Kcommaaccent</string>
          <string>kcommaaccent</string>
          <string>Lacute</string>
          <string>lacute</string>
          <string>Lcommaaccent</string>
          <string>lcommaaccent</string>
          <string>Lcaron</string>
          <string>lcaron</string>
          <string>Lslash</string>
          <string>lslash</string>
          <string>Nacute</string>
          <string>nacute</string>
          <string>Ncommaaccent</string>
          <string>ncommaaccent</string>
          <string>Ncaron</string>
          <string>ncaron</string>
          <string>Ohungarumlaut</string>
          <string>ohungarumlaut</string>
          <string>OE</string>
          <string>oe</string>
          <string>Racute</string>
          <string>racute</string>
          <string>Rcaron</string>
          <string>rcaron</string>
          <string>Sacute</string>
          <string>sacute</string>
          <string>Scedilla</string>
          <string>scedilla</string>
          <string>Scaron</string>
          <string>scaron</string>
          <string>Tcaron</string>
          <string>tcaron</string>
          <string>Umacron</string>
          <string>umacron</string>
          <string>Uring</string>
          <string>uring</string>
          <string>Uhungarumlaut</string>
          <string>uhungarumlaut</string>
          <string>Uogonek</string>
          <string>uogonek</string>
          <string>Wcircumflex</string>
          <string>wcircumflex</string>
          <string>Ycircumflex</string>
          <string>ycircumflex</string>
          <string>Ydieresis</string>
          <string>Zacute</string>
          <string>zacute</string>
          <string>Zdotaccent</string>
          <string>zdotaccent</string>
          <string>Zcaron</string>
          <string>zcaron</string>
          <string>Scommaaccent</string>
          <string>scommaaccent</string>
          <string>Tcommaaccent</string>
          <string>tcommaaccent</string>
          <string>dotlessj</string>
          <string>Wgrave</string>
          <string>wgrave</string>
          <string>Wacute</string>
          <string>wacute</string>
          <string>Wdieresis</string>
          <string>wdieresis</string>
          <string>Germandbls</string>
          <string>Ygrave</string>
          <string>ygrave</string>
          <string>idotaccent</string>
          <string>zero.tab</string>
          <string>one.tab</string>
          <string>two.tab</string>
          <string>three.tab</string>
          <string>four.tab</string>
          <string>five.tab</string>
          <string>six.tab</string>
          <string>seven.tab</string>
          <string>eight.tab</string>
          <string>nine.tab</string>
          <string>gravecomb.cap</string>
          <string>acutecomb.cap</string>
          <string>circumflexcomb.cap</string>
          <string>tildecomb.cap</string>
          <string>macroncomb.cap</string>
          <string>brevecomb.cap</string>
          <string>dotaccentcomb.cap</string>
          <string>dieresiscomb.cap</string>
          <string>ringcomb.cap</string>
          <string>hungarumlautcomb.cap</string>
          <string>caroncomb.cap</string>
          <string>Tcedilla</string>
          <string>tcedilla</string>
          <string>IJ</string>
          <string>ij</string>
          <string>IJacute</string>
          <string>ijacute</string>
          <string>hyphen.case</string>
          <string>endash.case</string>
          <string>emdash.case</string>
          <string>bar.case</string>
          <string>parenleft.case</string>
          <string>parenright.case</string>
          <string>bracketleft.case</string>
          <string>bracketright.case</string>
          <string>braceleft.case</string>
          <string>braceright.case</string>
          <string>guillemetleft.case</string>
          <string>guillemetright.case</string>
          <string>guilsinglleft.case</string>
          <string>guilsinglright.case</string>
          <string>exclamdown.case</string>
          <string>questiondown.case</string>
          <string>at.case</string>
          <string>t_t</string>
          <string>t.short</string>
          <string>f.short</string>
          <string>G.alt</string>
          <string>R.alt</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.layerName</key>
    <string>foreground</string>
    <key>com.typemytype.robofont.compileSettings.path</key>
    <string>/Users/allie/Documents/Alexandre/Cossettica-main/sources/CossetteSansText-Regular.otf</string>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.guideline.magnetic.1adWT6YOQy</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.TZvIpfUjri</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.showMeasurements.1adWT6YOQy</key>
    <false/>
    <key>com.typemytype.robofont.guideline.showMeasurements.TZvIpfUjri</key>
    <false/>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typesupply.metricsMachine4.groupColors</key>
    <dict>
      <key>public.kern1.A</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.C</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.DO</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.E</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.G</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.HIMN</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.JU</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.K</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.L</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.R</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.S</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.T</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.W</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.Y</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.Z</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.ahmn</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.beop</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.c</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.circle</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.colonsemi</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.dash</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.dash_case</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.dijl</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.eight</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.f</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.gqu</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.guilleft</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.guilleft_case</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.guilright</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.guilright_case</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.i_wide</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.k</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.ordinal</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.periodcomma</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.quote</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.quoteleft</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.quoteright</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.r</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.s</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.t</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.tabular</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
      </array>
      <key>public.kern1.vy</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.w</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.z</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern1.zero</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.A</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.BDEFHIKLMNPR</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.CGOQ</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.S</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.T</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.U</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.W</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.Y</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.Z</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.a</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.bhijkl</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.cdegoq</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.circle</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.colonsemi</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.dash</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.dash_case</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.eight</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.f</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.guilleft</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.guilleft_case</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.guilright</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.guilright_case</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.i_wide</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.mnprj</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.ordinal</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.periodcomma</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.quote</key>
      <array>
        <real>1.0</real>
        <real>0.5</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.quoteleft</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.quoteright</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.s</key>
      <array>
        <real>0.0</real>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.t</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.tabular</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
      </array>
      <key>public.kern2.u</key>
      <array>
        <real>0.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.vy</key>
      <array>
        <real>0.5</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.w</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.5</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.z</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.0</real>
        <real>0.35</real>
      </array>
      <key>public.kern2.zero</key>
      <array>
        <real>0.0</real>
        <real>0.5</real>
        <real>1.0</real>
        <real>0.35</real>
      </array>
    </dict>
    <key>public.glyphOrder</key>
    <array>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>plus</string>
      <string>less</string>
      <string>equal</string>
      <string>greater</string>
      <string>at</string>
      <string>asciicircum</string>
      <string>bar</string>
      <string>asciitilde</string>
      <string>cent</string>
      <string>sterling</string>
      <string>yen</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>degree</string>
      <string>paragraph</string>
      <string>multiply</string>
      <string>divide</string>
      <string>Euro</string>
      <string>trademark</string>
      <string>minus</string>
      <string>space</string>
      <string>nbspace</string>
      <string>.notdef</string>
      <string>periodcentered.loclCAT</string>
      <string>periodcentered.loclCAT.case</string>
      <string>exclam</string>
      <string>quotedbl</string>
      <string>numbersign</string>
      <string>quotesingle</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>asterisk</string>
      <string>comma</string>
      <string>hyphen</string>
      <string>period</string>
      <string>slash</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>question</string>
      <string>bracketleft</string>
      <string>backslash</string>
      <string>bracketright</string>
      <string>underscore</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>exclamdown</string>
      <string>guillemetleft</string>
      <string>periodcentered</string>
      <string>guillemetright</string>
      <string>questiondown</string>
      <string>endash</string>
      <string>emdash</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesinglbase</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quotedblbase</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>grave</string>
      <string>dieresis</string>
      <string>macron</string>
      <string>acute</string>
      <string>cedilla</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>gravecomb</string>
      <string>acutecomb</string>
      <string>circumflexcomb</string>
      <string>tildecomb</string>
      <string>macroncomb</string>
      <string>brevecomb</string>
      <string>dotaccentcomb</string>
      <string>dieresiscomb</string>
      <string>ringcomb</string>
      <string>hungarumlautcomb</string>
      <string>caroncomb</string>
      <string>commaaccentcomb</string>
      <string>cedillacomb</string>
      <string>ogonekcomb</string>
      <string>caroncomb.alt</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>a</string>
      <string>b</string>
      <string>c</string>
      <string>d</string>
      <string>e</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>j</string>
      <string>k</string>
      <string>l</string>
      <string>m</string>
      <string>n</string>
      <string>o</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>t</string>
      <string>u</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>z</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>AE</string>
      <string>Ccedilla</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Yacute</string>
      <string>Thorn</string>
      <string>germandbls</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>ccedilla</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>eth</string>
      <string>ntilde</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>yacute</string>
      <string>thorn</string>
      <string>ydieresis</string>
      <string>Amacron</string>
      <string>amacron</string>
      <string>Abreve</string>
      <string>abreve</string>
      <string>Aogonek</string>
      <string>aogonek</string>
      <string>Cacute</string>
      <string>cacute</string>
      <string>Cdotaccent</string>
      <string>cdotaccent</string>
      <string>Ccaron</string>
      <string>ccaron</string>
      <string>Dcaron</string>
      <string>dcaron</string>
      <string>Dcroat</string>
      <string>dcroat</string>
      <string>Emacron</string>
      <string>emacron</string>
      <string>Edotaccent</string>
      <string>edotaccent</string>
      <string>Eogonek</string>
      <string>eogonek</string>
      <string>Ecaron</string>
      <string>ecaron</string>
      <string>Gbreve</string>
      <string>gbreve</string>
      <string>Gdotaccent</string>
      <string>gdotaccent</string>
      <string>Gcommaaccent</string>
      <string>gcommaaccent</string>
      <string>Hbar</string>
      <string>hbar</string>
      <string>Imacron</string>
      <string>imacron</string>
      <string>Iogonek</string>
      <string>iogonek</string>
      <string>Idotaccent</string>
      <string>dotlessi</string>
      <string>Kcommaaccent</string>
      <string>kcommaaccent</string>
      <string>Lacute</string>
      <string>lacute</string>
      <string>Lcommaaccent</string>
      <string>lcommaaccent</string>
      <string>Lcaron</string>
      <string>lcaron</string>
      <string>Lslash</string>
      <string>lslash</string>
      <string>Nacute</string>
      <string>nacute</string>
      <string>Ncommaaccent</string>
      <string>ncommaaccent</string>
      <string>Ncaron</string>
      <string>ncaron</string>
      <string>Ohungarumlaut</string>
      <string>ohungarumlaut</string>
      <string>OE</string>
      <string>oe</string>
      <string>Racute</string>
      <string>racute</string>
      <string>Rcaron</string>
      <string>rcaron</string>
      <string>Sacute</string>
      <string>sacute</string>
      <string>Scedilla</string>
      <string>scedilla</string>
      <string>Scaron</string>
      <string>scaron</string>
      <string>Tcaron</string>
      <string>tcaron</string>
      <string>Umacron</string>
      <string>umacron</string>
      <string>Uring</string>
      <string>uring</string>
      <string>Uhungarumlaut</string>
      <string>uhungarumlaut</string>
      <string>Uogonek</string>
      <string>uogonek</string>
      <string>Wcircumflex</string>
      <string>wcircumflex</string>
      <string>Ycircumflex</string>
      <string>ycircumflex</string>
      <string>Ydieresis</string>
      <string>Zacute</string>
      <string>zacute</string>
      <string>Zdotaccent</string>
      <string>zdotaccent</string>
      <string>Zcaron</string>
      <string>zcaron</string>
      <string>Scommaaccent</string>
      <string>scommaaccent</string>
      <string>Tcommaaccent</string>
      <string>tcommaaccent</string>
      <string>dotlessj</string>
      <string>Wgrave</string>
      <string>wgrave</string>
      <string>Wacute</string>
      <string>wacute</string>
      <string>Wdieresis</string>
      <string>wdieresis</string>
      <string>Germandbls</string>
      <string>Ygrave</string>
      <string>ygrave</string>
      <string>idotaccent</string>
      <string>zero.tab</string>
      <string>one.tab</string>
      <string>two.tab</string>
      <string>three.tab</string>
      <string>four.tab</string>
      <string>five.tab</string>
      <string>six.tab</string>
      <string>seven.tab</string>
      <string>eight.tab</string>
      <string>nine.tab</string>
      <string>gravecomb.cap</string>
      <string>acutecomb.cap</string>
      <string>circumflexcomb.cap</string>
      <string>tildecomb.cap</string>
      <string>macroncomb.cap</string>
      <string>brevecomb.cap</string>
      <string>dotaccentcomb.cap</string>
      <string>dieresiscomb.cap</string>
      <string>ringcomb.cap</string>
      <string>hungarumlautcomb.cap</string>
      <string>caroncomb.cap</string>
      <string>Tcedilla</string>
      <string>tcedilla</string>
      <string>IJ</string>
      <string>ij</string>
      <string>IJacute</string>
      <string>ijacute</string>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
      <string>bar.case</string>
      <string>parenleft.case</string>
      <string>parenright.case</string>
      <string>bracketleft.case</string>
      <string>bracketright.case</string>
      <string>braceleft.case</string>
      <string>braceright.case</string>
      <string>guillemetleft.case</string>
      <string>guillemetright.case</string>
      <string>guilsinglleft.case</string>
      <string>guilsinglright.case</string>
      <string>exclamdown.case</string>
      <string>questiondown.case</string>
      <string>at.case</string>
      <string>t_t</string>
      <string>t.short</string>
      <string>f.short</string>
    </array>
  </dict>
</plist>
