<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acutecomb.cap</key>
    <string>acutecomb.cap.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>brevecomb.cap</key>
    <string>brevecomb.cap.glif</string>
    <key>caroncomb.cap</key>
    <string>caroncomb.cap.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb.cap</key>
    <string>circumflexcomb.cap.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>dieresiscomb.cap</key>
    <string>dieresiscomb.cap.glif</string>
    <key>dotaccentcomb.cap</key>
    <string>dotaccentcomb.cap.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gravecomb.cap</key>
    <string>gravecomb.cap.glif</string>
    <key>hungarumlautcomb.cap</key>
    <string>hungarumlautcomb.cap.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>macroncomb.cap</key>
    <string>macroncomb.cap.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ringcomb.cap</key>
    <string>ringcomb.cap.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tildecomb.cap</key>
    <string>tildecomb.cap.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
