<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>Cdotaccent</key>
    <string>C_dotaccent.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>acutecomb.cap</key>
    <string>acutecomb.cap.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>brevecomb.cap</key>
    <string>brevecomb.cap.glif</string>
    <key>caroncomb.cap</key>
    <string>caroncomb.cap.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb.cap</key>
    <string>circumflexcomb.cap.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.cap</key>
    <string>dieresiscomb.cap.glif</string>
    <key>dotaccentcomb.cap</key>
    <string>dotaccentcomb.cap.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>gravecomb.cap</key>
    <string>gravecomb.cap.glif</string>
    <key>hungarumlautcomb.cap</key>
    <string>hungarumlautcomb.cap.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>macroncomb.cap</key>
    <string>macroncomb.cap.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>ringcomb.cap</key>
    <string>ringcomb.cap.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tildecomb.cap</key>
    <string>tildecomb.cap.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
