<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
    </array>
    <key>public.kern1.DO</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Ohungarumlaut</string>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>Eacute</string>
      <string>Egrave</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Emacron</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>OE</string>
      <string>AE</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>Gcommaaccent</string>
    </array>
    <key>public.kern1.HIMN</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>Nacute</string>
      <string>Ncommaaccent</string>
      <string>Ncaron</string>
    </array>
    <key>public.kern1.JU</key>
    <array>
      <string>J</string>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>IJ</string>
      <string>IJacute</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>Kcommaaccent</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>Lcommaaccent</string>
      <string>Lcaron</string>
      <string>Lslash</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scedilla</string>
      <string>Scaron</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>Tcedilla</string>
      <string>Tcommaaccent</string>
      <string>Tcaron</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
      <string>Wcircumflex</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Yacute</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
      <string>Zacute</string>
      <string>Z</string>
    </array>
    <key>public.kern1.ahmn</key>
    <array>
      <string>a</string>
      <string>m</string>
      <string>n</string>
      <string>h</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>nacute</string>
      <string>hbar</string>
      <string>aogonek</string>
      <string>abreve</string>
      <string>amacron</string>
      <string>ntilde</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.at_case</key>
    <array>
      <string>at.case</string>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern1.beop</key>
    <array>
      <string>o</string>
      <string>p</string>
      <string>b</string>
      <string>e</string>
      <string>eacute</string>
      <string>oe</string>
      <string>ohungarumlaut</string>
      <string>ecaron</string>
      <string>eogonek</string>
      <string>edotaccent</string>
      <string>emacron</string>
      <string>thorn</string>
      <string>oslash</string>
      <string>odieresis</string>
      <string>otilde</string>
      <string>ocircumflex</string>
      <string>oacute</string>
      <string>ograve</string>
      <string>eth</string>
      <string>edieresis</string>
      <string>ecircumflex</string>
      <string>egrave</string>
      <string>ae</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
      <string>cacute</string>
      <string>cdotaccent</string>
      <string>ccaron</string>
    </array>
    <key>public.kern1.colonsemi</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.dash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>periodcentered</string>
    </array>
    <key>public.kern1.dash_case</key>
    <array>
      <string>hyphen.case</string>
      <string>emdash.case</string>
      <string>endash.case</string>
    </array>
    <key>public.kern1.dijl</key>
    <array>
      <string>l</string>
      <string>d</string>
      <string>i</string>
      <string>j</string>
      <string>ij</string>
      <string>idotaccent</string>
      <string>lcommaaccent</string>
      <string>lacute</string>
      <string>iogonek</string>
      <string>iacute</string>
      <string>igrave</string>
      <string>ijacute</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>three</string>
      <string>eight</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>f.short</string>
    </array>
    <key>public.kern1.gqu</key>
    <array>
      <string>u</string>
      <string>g</string>
      <string>q</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>gcommaaccent</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>umacron</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>dotlessj</string>
      <string>dotlessi</string>
    </array>
    <key>public.kern1.guilleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern1.guilleft_case</key>
    <array>
      <string>guillemetleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern1.guilright</key>
    <array>
      <string>guilsinglright</string>
      <string>guillemetright</string>
    </array>
    <key>public.kern1.guilright_case</key>
    <array>
      <string>guillemetright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern1.i_wide</key>
    <array>
      <string>idieresis</string>
      <string>icircumflex</string>
      <string>imacron</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern1.ordinal</key>
    <array>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
    </array>
    <key>public.kern1.periodcomma</key>
    <array>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.quote</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>rcaron</string>
      <string>racute</string>
      <string>r</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scedilla</string>
      <string>scaron</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>tcommaaccent</string>
      <string>tcaron</string>
      <string>tcedilla</string>
      <string>t.short</string>
      <string>t_t</string>
    </array>
    <key>public.kern1.tabular</key>
    <array>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>plus</string>
      <string>dollar</string>
      <string>percent</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>sterling</string>
      <string>yen</string>
      <string>section</string>
      <string>cent</string>
      <string>multiply</string>
      <string>divide</string>
      <string>Euro</string>
      <string>minus</string>
      <string>eight.tab</string>
      <string>five.tab</string>
      <string>four.tab</string>
      <string>nine.tab</string>
      <string>one.tab</string>
      <string>seven.tab</string>
      <string>six.tab</string>
      <string>three.tab</string>
      <string>two.tab</string>
      <string>zero.tab</string>
    </array>
    <key>public.kern1.vy</key>
    <array>
      <string>v</string>
      <string>y</string>
      <string>ydieresis</string>
      <string>yacute</string>
      <string>ygrave</string>
      <string>ycircumflex</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wgrave</string>
      <string>wacute</string>
      <string>wdieresis</string>
      <string>wcircumflex</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zacute</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>nine</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>AE</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
    </array>
    <key>public.kern2.BDEFHIKLMNPR</key>
    <array>
      <string>H</string>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Racute</string>
      <string>Rcaron</string>
      <string>Ntilde</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Egrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Igrave</string>
      <string>Thorn</string>
      <string>Dcaron</string>
      <string>Emacron</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>Imacron</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>Kcommaaccent</string>
      <string>Lacute</string>
      <string>Lcommaaccent</string>
      <string>Lcaron</string>
      <string>Lslash</string>
      <string>Nacute</string>
      <string>Ncommaaccent</string>
      <string>Ncaron</string>
    </array>
    <key>public.kern2.CGOQ</key>
    <array>
      <string>C</string>
      <string>O</string>
      <string>G</string>
      <string>Q</string>
      <string>OE</string>
      <string>Ohungarumlaut</string>
      <string>Gcommaaccent</string>
      <string>Gdotaccent</string>
      <string>Gbreve</string>
      <string>Cacute</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Oslash</string>
      <string>Otilde</string>
      <string>Ccedilla</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scedilla</string>
      <string>Scaron</string>
      <string>Scommaaccent</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>Tcommaaccent</string>
      <string>Tcaron</string>
      <string>Tcedilla</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uogonek</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>IJ</string>
      <string>IJacute</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
      <string>Wcircumflex</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>ae</string>
      <string>agrave</string>
      <string>aring</string>
      <string>atilde</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aogonek</string>
    </array>
    <key>public.kern2.at_case</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
      <string>at.case</string>
    </array>
    <key>public.kern2.bhijkl</key>
    <array>
      <string>l</string>
      <string>i</string>
      <string>k</string>
      <string>h</string>
      <string>b</string>
      <string>j</string>
      <string>idotaccent</string>
      <string>ij</string>
      <string>ijacute</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>thorn</string>
      <string>lacute</string>
      <string>lcommaaccent</string>
      <string>iogonek</string>
      <string>lcaron</string>
      <string>kcommaaccent</string>
    </array>
    <key>public.kern2.cdegoq</key>
    <array>
      <string>e</string>
      <string>c</string>
      <string>d</string>
      <string>o</string>
      <string>q</string>
      <string>eacute</string>
      <string>g</string>
      <string>oe</string>
      <string>ohungarumlaut</string>
      <string>ecaron</string>
      <string>eogonek</string>
      <string>gdotaccent</string>
      <string>gbreve</string>
      <string>gcommaaccent</string>
      <string>edotaccent</string>
      <string>emacron</string>
      <string>dcroat</string>
      <string>dcaron</string>
      <string>ccaron</string>
      <string>cdotaccent</string>
      <string>cacute</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>oslash</string>
      <string>otilde</string>
      <string>eth</string>
      <string>edieresis</string>
      <string>ecircumflex</string>
      <string>egrave</string>
      <string>ccedilla</string>
    </array>
    <key>public.kern2.colonsemi</key>
    <array>
      <string>semicolon</string>
      <string>colon</string>
    </array>
    <key>public.kern2.dash</key>
    <array>
      <string>emdash</string>
      <string>endash</string>
      <string>hyphen</string>
      <string>periodcentered</string>
    </array>
    <key>public.kern2.dash_case</key>
    <array>
      <string>emdash.case</string>
      <string>endash.case</string>
      <string>hyphen.case</string>
    </array>
    <key>public.kern2.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>f.short</string>
    </array>
    <key>public.kern2.guilleft</key>
    <array>
      <string>guillemetleft</string>
      <string>guilsinglleft</string>
    </array>
    <key>public.kern2.guilleft_case</key>
    <array>
      <string>guillemetleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern2.guilright</key>
    <array>
      <string>guillemetright</string>
      <string>guilsinglright</string>
    </array>
    <key>public.kern2.guilright_case</key>
    <array>
      <string>guilsinglright.case</string>
      <string>guillemetright.case</string>
    </array>
    <key>public.kern2.i_wide</key>
    <array>
      <string>idieresis</string>
      <string>icircumflex</string>
      <string>imacron</string>
    </array>
    <key>public.kern2.mnprj</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>r</string>
      <string>dotlessj</string>
      <string>rcaron</string>
      <string>racute</string>
      <string>ncaron</string>
      <string>ncommaaccent</string>
      <string>nacute</string>
      <string>dotlessi</string>
      <string>p</string>
      <string>ntilde</string>
    </array>
    <key>public.kern2.ordinal</key>
    <array>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
    </array>
    <key>public.kern2.periodcomma</key>
    <array>
      <string>ellipsis</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern2.quote</key>
    <array>
      <string>quotesingle</string>
      <string>quotedbl</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scedilla</string>
      <string>scaron</string>
      <string>scommaaccent</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>t.short</string>
      <string>t_t</string>
      <string>tcommaaccent</string>
      <string>tcedilla</string>
      <string>tcaron</string>
    </array>
    <key>public.kern2.tabular</key>
    <array>
      <string>eight.tab</string>
      <string>five.tab</string>
      <string>four.tab</string>
      <string>nine.tab</string>
      <string>one.tab</string>
      <string>seven.tab</string>
      <string>six.tab</string>
      <string>three.tab</string>
      <string>two.tab</string>
      <string>zero.tab</string>
      <string>Euro</string>
      <string>asciicircum</string>
      <string>asciitilde</string>
      <string>cent</string>
      <string>divide</string>
      <string>dollar</string>
      <string>equal</string>
      <string>greater</string>
      <string>less</string>
      <string>minus</string>
      <string>multiply</string>
      <string>percent</string>
      <string>plus</string>
      <string>section</string>
      <string>sterling</string>
      <string>yen</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>umacron</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
    </array>
    <key>public.kern2.vy</key>
    <array>
      <string>ydieresis</string>
      <string>v</string>
      <string>y</string>
      <string>yacute</string>
      <string>ycircumflex</string>
      <string>ygrave</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>wdieresis</string>
      <string>wacute</string>
      <string>wgrave</string>
      <string>wcircumflex</string>
      <string>w</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>zacute</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>six</string>
    </array>
  </dict>
</plist>
